<h1>Comments</h1>

<table>
  <thead>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.commenter %></td>
      <td><%= comment.comment %></td>
      <td><%= link_to 'Show', [ @review, comment ] %></td>
      <td><%= link_to 'Edit', edit_review_comment_path(@review, comment) %></td>
      <td><%= link_to 'Destroy', [ @review, comment ], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Comment', new_review_comment_path(@review) %>
