<p style="color: green"><%= notice %></p>

<%= render @book %>
<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <br/>
  <%= button_to "Destroy this book", @book, method: :delete %>

  <br/>
  <h2>Reviews</h2>

  <% if @book.reviews.empty? %>
    <p> No reviews yet </p>
  <% end %>

  <% @book.reviews.each do |r| %>
    <p>
      <strong>Name:</strong>
      <%= r.username %>
    </p>
    <p>
      <strong>Review:</strong>
      <%= r.body %>
    </p>

    <% if r.comments.empty? %>
      <p> No comments yet </p>
    <% end %>

    <% r.comments.each do |c| %>
      <strong> <%= c.commenter %> says: </strong>
      <p> <% c.comment %> </p>
    <% end %>

    <h2>Add a comment:</h2>
    <%= render 'comments/form', review: @review, comment: Comment.new %>
<% end %>

  <% if @book.reviews.empty? %>
    <p> No reviews yet </p>
  <% end %>

  <h2>Add a review:</h2>
  <%= form_with model: [@book, @book.reviews.build] do |form| %>
    <p>
      <%= form.label :username %><br>
      <%= form.text_field :username %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.label :rating %><br>
      <%= form.number_field :rating %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>