<!DOCTYPE html>
<html>
<head>
  <title>Rubyreads</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <p> Logged in as: <%= current_user ? current_user.email : "guest"%> </p>
</div>
<%= yield %>
</body>
</html>
